<div class="container-fluid">
  <div class="col-lg-4 offset-lg-4" style="text-align:center" >
    <h1>{{title}}</h1>

  </div>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="users">
        <li *ngFor="let user of users">
          [class.selcted]="user === selectedUser"
          (click)="onSelect(user)">
          <span class="badge">{{user.id}}</span> {{user.firstName + " " + user.lastName}}
        </li>
      </ul>
      <user-detail [user]="selectedUser"></user-detail>
    </div>
  </div>
  <hr>
  <div class="">
    <h5></h5>
  </div>
</div>
