<div class="row">
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody class="">
      <tr *ngFor="let user of users"
        [class.selected]="user === selectedUser"
        (click)="onSelect(user)">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class=""*ngIf="selectedUser">
  <h2>{{ selectedUser.firstName + " " + selectedUser.lastName }}</h2>
</div>
<div class="row">
  <button (click)="gotoDetail()" class="btn btn-primary">View Details</button>
</div>
