.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#row1{
  height: 84vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}

#row1 .wrapper{

  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 100px 0px;
  border-top: 5px;
  border-left: 5px;
  border-right: 5px;
  border-bottom: 0px;
  border-style: solid;
  border-color: white;
}

#row1 img{
  height: 15vw;
  max-height: 170px;

}

#row2 {
  background-color: #bcdfe2;

}

#row2 .wrapper{
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  padding: 100px 0px;
  border-top: 0px;
  border-left: 5px;
  border-right: 5px;
  border-bottom: 0px;
  border-style: solid;
  border-color: white;
}


#row3{

}

#row3 .wrapper{
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  padding: 100px 0px;
  border-top: 0px;
  border-left: 5px;
  border-right: 5px;
  border-bottom: 0px;
  border-style: solid;
  border-color: white;
}

#row4 .wrapper{
  height: 100%;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 100px 0px;
  border-top: 0px;
  border-left: 5px;
  border-right: 5px;
  border-bottom: 5px;
  border-style: solid;
  border-color: white;
}
#row4 {
  background-color: #bcdfe2;
}
#row4 h1{
  width: 20rem;
  margin: 0px 10px;
}
/*#row3A {
  margin-top: 5rem;
}
#row3B {
  margin-top: 5rem;
}*/

.spacer {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.spacer-sm {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.spacer-lg {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.line-horizontal {
  height: 3px;
  width: 2.5rem;
  margin: 0px 5px;
}

.line-horizontal-full {
  height: 3px;
  width: 20rem;
  margin: 0px 5px;
}

.line-vertical-full {
  height:inherit;
  width: 1px;
  margin: 10px -5px;
  border-left: 3px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  overflow: hidden;
}

/*Equal-width columns can be broken into multiple lines,
but there is a Safari flexbox bug that prevents this from
working without an explicit flex-basis or border.*/
.col {
  border: 1px solid transparent;
}
