@charset "UTF-8";
input  {
	width: 100%;
	border-style: none none solid;
	border-bottom-color: #3A4752;
	border-bottom-width: 1px;
	/* [disabled]outline: none; */
	padding-bottom: 2px;
	font-size: 14px;
	padding-top: 2px;
	color: #5B5B5B;
	padding-left: 10px;
	background-color: transparent;
	padding-right: 10px;
}
input:focus  {
	border-bottom: 1px solid rgba(3,156,232,1.00);
}
.input-group   {
	border-style: none;
	border-width: 0px;
}
input .form-control		{
	width: 100%;
	border-left-style: none;
	border-right-style: none;
	border-bottom: 1px solid rgba(58,71,82,1.00);
	border-top-style: none;
	margin-bottom: 10px;
	outline: none;
	padding-bottom: 5px;
	font-size: 14px;
	padding-top: 0px;
}
table {
	border: 1px solid #BAC3D4;
	color: #5B5B5B;
}
.table-hero {
	background-color: #E0DFDF;
	border-left: 1px solid #BAC3D4;
	border-right: 1px solid #BAC3D4;
	border-bottom: 1px none #BAC3D4;
	border-top: 1px solid #BAC3D4;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 25px;
	margin-bottom: 0px;
}
tbody {
	
}
th {
	background-color: #F4F3F3;
	padding-top: 10px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 10px;
	border-style: none none solid;
	border-bottom-width: 1px;
	border-bottom-color: #BAC3D4;
}
th:hover {
	background-color: #E0DFDF;
}
th td {
	padding: 4px 8px;
}
tr {
	border-bottom: 1px solid #BAC3D4;
	padding: 4px 8px;
}
tr:hover {
	background-color: #E0DFDF;
}
tr:hover td:nth-child(even) {
	background-color: transparent;
}
tr:hover td.id {
	color: #039CE8;
}
td {
	padding-top: 4px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 4px;
	border-style: none none solid;
	border-bottom-width: 1px;
	border-bottom-color: #BAC3D4;
}
.float-r {
	float: right;
}
.float-l {
	float: left;
}
.toolstrip-btm {
	border-left: 1px solid #BAC3D4;
	border-right: 1px solid #BAC3D4;
	border-bottom: 1px solid #BAC3D4;
	border-top: 1px none #BAC3D4;
	background-color: #E0DFDF;
	padding-top: 11px;
	padding-bottom: 10px;
}
.line-horizontal {
	margin: 15px -15px;
	border-bottom: 1px solid #838383;
}
