@charset "UTF-8";
input  {
	width: 100%;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #3A4752;
	border-top: none;
	outline: none;
	padding-bottom: 5px;
	font-size: 14px;
	padding-top: 0px;
	background-color: transparent;
}
.field-data {
	width: 100%;
	outline: none;
	font-size: 14px;
}
.form-field label {
	width: 100%;
}
input:focus  {
	border-bottom: 1px solid rgba(3,156,232,1.00);
}
.input-group   {
	border-style: none;
	border-width: 0px;
}

input .form-control		{
	width: 100%;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid rgba(58,71,82,1.00);
	border-top: none;
	margin-bottom: 10px;
	outline: none;
	padding-bottom: 5px;
	font-size: 14px;
	padding-top: 0px;
}
.form-field {
	padding: 10px 10px;
}
.content-row {
	background-color: rgba(244,243,243,1.00);
	margin-bottom: 0px;
	padding-bottom: 15px;
	padding-top: 4px;
	margin-left: 0px;
}
.my-settings-content
   {
	margin-top: 15px;
	margin-bottom: 15px;
}
select {
	background-color: rgba(244,243,243,1.00);
	width: 100%;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid rgba(58,71,82,1.00);
	border-top: none;
	outline: none;
	padding-bottom: 5px;
	font-size: 14px;
	padding-top: 0px;
	/* [disabled]border-radius: 0px; */
}
select:focus {
	border-bottom: 1px solid rgba(3,156,232,1.00);
}
keygen , select{
	border-radius: 0px;
	/* [disabled]border-collapse: collapse; */
	/* [disabled]border-style: none; */
}
.settings-hero {
	background-color: #E0DFDF;
	border-left: 1px solid #BAC3D4;
	border-right: 1px solid #BAC3D4;
	border-bottom: 1px none #BAC3D4;
	border-top: 1px solid #BAC3D4;
	padding-top: 15px;
	padding-bottom: 15px;
}
.settings-wrapper {
	border-left: 1px solid #BAC3D4;
	border-right: 1px solid #BAC3D4;
	border-bottom: 1px none #BAC3D4;
	border-top: 1px solid #BAC3D4;
	background-color: #F4F3F3;
	padding-bottom: 15px;
}
.my-delegations-content {
	border: 1px solid #BAC3D4;
	background-color: #E0DFDF;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.float-r {
	float: right;
}
.float-l {
	float: left;
}
