@charset "UTF-8";
/* CSS Document */

.form-field label {
	width: 100%;
	font-size: .9em;
}
input  {
	width: 100%;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid rgba(58,71,82,1.00);
	border-top: none;
	outline: none;
	padding-bottom: 5px;
	font-size: 14px;
	padding-top: 0px;
	background-color: transparent;
}
input:focus  {
	border-bottom: 1px solid rgba(3,156,232,1.00);
}
.input-group   {
	border-style: none;
	border-width: 0px;
}
input .form-control		{
	width: 100%;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid rgba(58,71,82,1.00);
	border-top: none;
	margin-bottom: 10px;
	outline: none;
	padding-bottom: 5px;
	font-size: 14px;
	padding-top: 0px;
}
table {
	border: 1px solid #BAC3D4;
}
.table-hero {
	background-color: #E0DFDF;
	border-left: 1px solid #BAC3D4;
	border-right: 1px solid #BAC3D4;
	border-bottom: 1px none #BAC3D4;
	border-top: 1px solid #BAC3D4;
	margin-top: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}
tbody {
	
}
th {
	background-color: #F4F3F3;
	padding: 4px 8px;
	border-style: none none solid;
	border-bottom-width: 1px;
	border-bottom-color: #BAC3D4;	
}
th:hover {
	background-color: #E0DFDF;
}
tr {
	border-bottom: 1px solid #BAC3D4;
	padding: 4px 8px;
}
tr:hover {
	background-color: #E0DFDF;
}
tr:hover td:nth-child(even) {
	background-color: transparent;
}
tr:hover td.id {
	color: #039CE8;
}
td:nth-child(even) {
	background-color: #F4F3F3;
}
td {
	padding: 4px 8px;
	border-style: none none solid;
	border-bottom-width: 1px;
	border-bottom-color: #BAC3D4;
		
}
td.id {
    color: #009BDE;
}
td.amount {
    color: #FF851F;
}
#my-profile {
	background-color: #ffffff;
	font-family: source-sans-pro;
	font-style: normal;
	font-weight: 600;
	font-variant: normal;
}
.filter {
	padding-bottom: 10px;
	padding-top: 0px;
}
.filter:hover {
	color: #039CE8;
}
#search-text {
	padding-top: 4px;
	padding-bottom: 4px;
}
filter-field {
	padding: 10px 10px;
}
.filter-field h5  {
	font-size: 0.85em;
}
.filter-field label {
	font-size: 0.85em;
}
.float-r {
	float: right;
}
.table-filter a {
	font-size: 0.65em;
	text-indent: 0px;
}
