@charset "UTF-8";
/* CSS Document */

/* tighten up header image and margin/padding */
.grid-4{
	margin-bottom:0px;
	height: 65px;
}

.logoAndTopNav .grid-4 img{
	height: 65px;
}
/* alter main navbar look */	
.navigation-container group{
	background-color: #039ce8;
    padding-top: 0px;
}	

div.navigation-container li.top a.dir {
    border-bottom: 3px solid #fff;
}

ul.dropdown li.right a:hover, ul.dropdown li a:hover, ul.dropdown a.open, ul.dropdown li:hover > a.dir {
    background-color: #fff;
    color: #3c3c3c;
}

ul.dropdown li a {
	color: #fff;
}
	
ul.dropdown ul a {
	background-color:#3c3c3c;
}

.container-wrapper .group {
    border-top: 3px solid #fff;
}

/*CSS Changes for Other Page Elements*/

/*change color for quick veiw blocks*/
.block-value {
	color: #f16924;
    background-color: #3c3c3c;
}

.block-label {
	font-size:1.1em;
	    color: #fff;
    background-color: #3c3c3c;
}

